<!-- Modal Body -->
<div class="modal-body">

    <div class="form-group">
        <label for="type">Class</label>
        <input type="text" class="form-control"
               id="type" name="type" placeholder="Class" ng-model="$trooperModal.trooper.type"/>
    </div>
    <div class="form-group">
        <label for="species">Species</label>
        <input type="text" class="form-control"
               id="species" name="species" placeholder="Species" ng-model="$trooperModal.trooper.species"/>
    </div>
    <div class="form-group">
        <label for="planetOfOrigin">Planet of Origin</label>
        <input type="text" class="form-control"
               id="planetOfOrigin" name="planetOfOrigin" placeholder="Planet of Origin" ng-model="$trooperModal.trooper.planetOfOrigin"/>
    </div>
</div>