<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Welcome</title>

        <object th:include="fragments/head :: head" th:remove="tag" >
            <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="https://cdn.jsdelivr.net/js-md5/0.3.0/md5.min.js"></script>
        </object>
    </head>

    <body>

        <div th:replace="fragments/header :: header"></div>

        <div class="container" style="padding-top: 65px">

            <div class="page-header">
                <h1>Stormtrooper 'Enlistment' Application</h1>
                <h1><small th:text="${model.messageOfTheDay}">Welcome to the First Order</small></h1>
            </div>

            <div class="page-body">

                <div class="list-group">
                    <a href="#" class="list-group-item disabled active">Actions</a>
                    <a href="/trooper" class="list-group-item">Show Stormtroopers</a>
                    <a href="https://www.google.com/search?q=Operational+Status+of+Starkiller+Base" class="list-group-item">Operational Status of Starkiller Base</a>
                </div>
            </div>

        </div>


        <div class="panel custom-pad-for-footer"></div>

        <div th:replace="fragments/footer :: footer"></div>

    </body>
</html>