<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/js-md5/0.3.0/md5.min.js"></script>
    </head>

    <body>
        <div style="height: 200px">
            Some content
        </div>

        <footer th:fragment="footer">

            <div class="navbar navbar-inverse navbar-fixed-bottom">
                <div class="container text-center">
                    <a href="https://github.com/stormpath/stormpath-shiro" class="text-muted text-centered">Stormpath Shiro Example</a>
                </div>
            </div>
        </footer>

    </body>

</html>