<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/js-md5/0.3.0/md5.min.js"></script>
    </head>

    <header class="main-navbar"  th:fragment="header">

        <nav class="navbar navbar-inverse navbar-fixed-top" style="min-height: 70px;">
            <div class="container main-navbar-container">
                <div class="navbar-header-container">
                    <div class="navbar-header">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="menu-item">
                                <a href="#" class="standard-logo main-nav-logo navbar-brand"><img src="/images/First_Order_Logo.png" copyright="cc-by-sa https://commons.wikimedia.org/wiki/User:JLanzer"/></a>
                            </li>
                            <li class="menu-item">
                                <a class="navbar-brand" style="line-height: 45px" href="#">
                                    Trooper Portal
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Start user login header -->

                <script th:inline="javascript">
                    /*<![CDATA[*/
                    $(function() {
                        var email = /*[[${#httpServletRequest.getRemoteUser()}]]*/ "test@example.com";
                        var src = 'http://www.gravatar.com/avatar/' + md5(email.trim().toLowerCase()) + '?s=30';
                        $('#gravatar').attr('src', src);
                    });
                    /*]]>*/
                </script>

                <ul class="nav navbar-nav navbar-right">
                    <li class="menu-item">
                        <p shiro:guest="" class="navbar-btn">
                            <a class="btn btn-success" href="/login">Login</a>
                            <a class="btn btn-primary" href="/register">Sign up now</a>
                        </p>
                        <p shiro:authenticated="" class="navbar-btn">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="profile-image img-circle" id="gravatar" src="http://www.gravatar.com/avatar/missing?s=30"/>
                                <span th:text="${#httpServletRequest.getRemoteUser()}">userid</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#" onclick="$('#logout_form').submit()">Logout</a></li>
                            </ul>
                        </div>
                        <form id="logout_form" action="/logout" method="post"></form>
                        </p>

                    </li>
                </ul>

                <!-- End user login header -->

            </div>
        </nav>
    </header>

</html>