<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="head">
        <link rel='stylesheet' href='/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css'/>
        <script type='text/javascript' src='/webjars/md5/0.3.0/src/md5.js'></script>
        <script type='text/javascript' src='/webjars/jquery/1.11.1/jquery.min.js'></script>
        <script type='text/javascript' src='/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js'></script>

        <style>
            .custom-pad-for-footer {
                height: 40px;
            }
            .trooper-panel {
                /*background-color: gray;*/
                background: url(/images/stormtrooper_background_640.jpg) no-repeat !important;
                /* copyright cc-0 */
            }
        </style>

    </head>

    <body>
        Some content here.
    </body>

</html>